.container{
    width: 35%;
    margin:0,auto;
    background-color:grey;
    padding: 0 1rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid grey;
    }
    input{
    color: blue;
    }
    .title_container ,.qoute_container{
    flex-direction: column;
    display: flex;
    padding: 0.5rem;
    }
    button{
    display: block;
    text-align: right;
    }
    h3{
        text-align: center;
        color: red;
    }